{% load static %}
{% block body %}
{% include 'navigation.html' %}

<div style="background-color : #b76e79; width:100%;height 100px; text-align: center;">
    <h3 class="text-white container pt-3" > Contact Us</h3>
</div>
<br>
<div class ="container">
    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.0250097411094!2d77.07800097535822!3d28.62901252566675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d04bf6ac2495d%3A0xfff07fc03531f009!2sJanakpuri%20District%20Center%2C%20Janakpuri%2C%20Delhi!5e0!3m2!1sen!2sin!4v1705596507012!5m2!1sen!2sin" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-sm-6 mt-5">
            <p style="color: white;"><i class="fas fa-envelope" style="color: white;"></i> Email Id: <a href="mailto:raikwarlovely29@gmail.com">raikwarlovely29@gmail.com</a>, <a href="mailto:raikwarlovely565@gmail.com">raikwarlovely565@gmail.com</a></p>
            <p style="color: white;"><i class="fas fa-phone-square" style="color: white;"></i> Contact : 8178554602</p>
            <p style="color: white;"><i class="fas fa-address-card"style="color: white;"></i> Address : New Delhi</p>
            <p style="color: white;"><i class="fas fa-clock"style="color: white;"></i> Timing : 9Am-7Pm</p>
            <p style="color: white;"> Follow Us:</p>
            <a href="#"style="font-size: 2em;"><i class="fab fa-facebook pl-5"></i></a>
            <a href="https://www.instagram.com/_lovely.raikwar_" style="color: white;font-size: 2em;"><i class="fab fa-instagram pl-5"></i></a>
            <a href="https://twitter.com/home?utm_source=liteAPK&utm_medium=shortcut&first_run=false" style="font-size: 2em;"><i class="fab fa-twitter pl-5"></i></a>
            <a href="https://github.com/lovelyraikwar29/" style="color: white;font-size: 2em;"><i class="fab fa-github pl-5"></i></a>
            <a href="https://www.linkedin.com/in/lovelyraikwar" style="font-size: 2em;"><i class="fab fa-linkedin pl-5"></i></a>
        </div>
    </div>
</div>
{% endblock %}