{% load static %}
{% block body %}
{% include 'navigation.html' %}

<hr>
<style>
    .btn-dark-blue {
        background-color: #001f3f; /* Dark blue color code */
        color: #ffffff; /* White text color */
    }
</style>
<div class="container mt-5">
<div class="row">
    <div class="col-sm-6" >
        <h2 class="text-center" style="color:white"> Existing User</h2>
        <hr >
        <p style="color:white">By creating an account with our website, <br>u will be able to move through the notes uploading and downloading process and more....</p>
        <center style="color: blue;"> <a href="{% url 'user_login' %}" class="btn btn-dark-blue mt-5">Create an Account</a></center>
    </div>
    <div class="col-sm-6" >
        <h2 class="text-center" style="color:white"> User Signup</h2>
        <hr>
        {% comment %} <form method="post"> {% endcomment %}
            <form method="post">
            {% csrf_token %}


            <label style="color:white"> First Name </label> 
            <input type="text" class="form-control" placeholder="Enter First Name" name="firstname">

            <label style="color:white"> Last Name </label> 
            <input type="text" class="form-control" placeholder="Enter Last Name" name="lastname">

            <label style="color:white"> Contact </label> 
            <input type="text" class="form-control" placeholder="Enter Contact Number" name="contact">

            <label style="color:white"> Email Id</label> 
            <input type="email" class="form-control" placeholder="Enter Email Id" name="emailid">

            <label style="color:white"> Password</label> 
            <input type="password" class="form-control" placeholder="Enter Password" name="password">

            <label style="color:white"> Course</label> 
            <select class="form-control" name="branch"> 
                <option value="BCA">BCA</option>
                <option value="BBA">BBA</option>
                <option value="Btech">Btech(Computer Science)</option>
                <option value="BCom">BCom.</option>
            </select>

            <label style="color:white"> Are You </label> 
            <select class="form-control" name="role"> 
                <option value="Student">Student </option>
                <option value="Teacher">Teacher</option>
            </select>

            <input type="submit" class="btn btn-dark-blue mt-2" value="SUBMIT">

        </form>
    </div>
</div>
</div>


{% if d.error == "no" %}
<script>
    alert('Logged In Successfully');
    window.location.href = '{% url "user_login" %}';
</script>
{% endif %}

{% if d.error == "yes" %}
<script>
    alert('Somthing Went Wrong, Try Again ');
</script>
{% endif %}
{% endblock %}